// Base Font Family
$base-font-family: "SUIT Variable", sans-serif; 

// Colors
$white: #F5F5F7;
$black: #1D1D1F;
$red: #D11719;
$gray: #86868B;
$blue-100: #2997ff;
$blue-200: #0077ED;
$blue-300: #0071e3;
$blue-400: #006EDB;

// Box Size
$small-size: 31.25rem;
$large-size: 40.625rem;

// Text Size
$xx-small-text: 0.75rem;
$x-small-text: 0.875rem;
$small-text: 1.0625rem;
$base-text: 1.1875rem;
$medium-text: 1.3125rem;
$large-text: 2rem;
$extra-large-text: 2.5rem;

// Spacing
$x-small-spacing: 0.5rem;
$small-spacing: 0.75rem;
$base-spacing: 1rem;
$large-spacing: 2.5rem;
$extra-large-spacing: 3.75rem;

$line-normal: 1.5;