@charset "UTF-8";
/* μ΄ μ£Όμ„μ€ μ»΄νμΌ λ CSS νμΌμ— μ¶λ ¥λ©λ‹λ‹¤. (μ••μ¶• λ¨λ“μ—μ„λ” μ¶λ ¥π™“) */
/* μ΄ μ£Όμ„ μ ν•μ€ μΈν„°ν΄λ μ΄μ…λ„ ν¬ν•¨ κ°€λ¥ν•©λ‹λ‹¤.
 * 9 + 2 = 11 */
/*! μ΄ μ£Όμ„μ€ μ••μ¶•(compressed) λ¨λ“μ—μ„λ„ μ¶λ ¥λ©λ‹λ‹¤. */
p .sans {
  font: SpoqaHanSans, Helvetica, Verdana, sans-serif;
}
