@use './../utils' as *;
@use './../components/buttons';
@use './navigation';

.header-wrapper{
  background-color: rgba($white, 1);
  @include position(sticky, 0);
  
  @include mq(xl){
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    backdrop-filter: blur(4px);
    background-color: rgba($white, 0.85);
  }
}

.header{
  @include flexbox($justify:space-between, $items: center);
  
  @include mq(xl){
    @include gridbox(12);
    max-width: 1024px;
    width: 100%;
    @include marginX(auto);
    align-items: center;
  }

  .logo{
    padding-left: 1.5rem;
  }

  .menu--open{
    font-size: 24px;

    @include mq(xl){
      display: none;
    }
  }

  .navigation{
    @include mq(xl){
      @include grid-column-span(11);
      translate: 0;
    }
  }
}