// μ΄ μ£Όμ„μ€ μ»΄νμΌ λ CSS νμΌμ— μ¶λ ¥λμ§€ μ•μµλ‹λ‹¤.
/* μ΄ μ£Όμ„μ€ μ»΄νμΌ λ CSS νμΌμ— μ¶λ ¥λ©λ‹λ‹¤. (μ••μ¶• λ¨λ“μ—μ„λ” μ¶λ ¥π™“) */
/* μ΄ μ£Όμ„ μ ν•μ€ μΈν„°ν΄λ μ΄μ…λ„ ν¬ν•¨ κ°€λ¥ν•©λ‹λ‹¤.
 * 9 + 2 = #{9 + 2} */
 /*! μ΄ μ£Όμ„μ€ μ••μ¶•(compressed) λ¨λ“μ—μ„λ„ μ¶λ ¥λ©λ‹λ‹¤. */

 p /* μ—¬λ¬ μ¤„ μ£Όμ„μ€ μ–΄λ””μ„λ‚ μ‚¬μ© κ°€λ¥ν•©λ‹λ‹¤.
	 * κ³µλ°± λν• ν—μ©ν•©λ‹λ‹¤. */ .sans {
  font: SpoqaHanSans, // ν• μ¤„ μ£Όμ„λ„ μ΄λ ‡κ² μ‚¬μ© κ°€λ¥ν•©λ‹λ‹¤.
				Helvetica, Verdana, sans-serif;
}