@mixin padding($value) {
  padding: value;
}

.box {
  @include padding(20px);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin a11yHidden($focusable: false) {
	overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  clip-path: circle(0);
  @include size(1px);
	margin: -1px;
	border: 0;
	padding: 0;
  white-space: nowrap;

  @if $focusable {
		&:focus {
			overflow: initial;
			position: initial;
			clip: initial;
			clip-path: initial;
			@include size(initial);
			margin: initial;
			white-space: initial;
		}
	}
}

.container {
  @include a11yHidden;
}