
/* 이 주석은 컴파일 된 CSS 파일에 출력됩니다. (압축 모드에서는 출력𝙓) */

// padding 관련 믹스인

@mixin padding-inline-start($value){
  padding-left: $value;
  padding-inline-start: $value;
}
@mixin padding-inline-end($value){
  padding-right: $value;
  padding-inline-end: $value;
}
@mixin padding-block-start($value){
  padding-top: $value;
  padding-block-start: $value;
}
@mixin padding-block-end($value){
  padding-bottom: $value;
  padding-block-end: $value;
}

@mixin paddingX($value){
  @include padding-inline-start($value);
  @include padding-inline-end($value);
}
@mixin paddingY($value){
  @include padding-block-start($value);
  @include padding-block-end($value);
}

@mixin padding($value){
  @include paddingX($value);
  @include paddingY($value);
}

.box {
  @include padding(20px);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin a11yHidden($focusable: false) {
	overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  clip-path: circle(0);
  @include size(1px);
	margin: -1px;
	border: 0;
	padding: 0;
  white-space: nowrap;

  @if $focusable {
		&:focus {
			overflow: initial;
			position: initial;
			clip: initial;
			clip-path: initial;
			@include size(initial);
			margin: initial;
			white-space: initial;
		}
	}
}

.container {
  @include a11yHidden;
}
